# Homebrew
# ffmpeg
# lightgbm

# Base
tqdm
joblib
pyautogui

# Jupyter Notebook
jupyter
Markdown

# Math
numpy
sympy

# Data
pandas
openpyxl
pandas-profiling

# Plotting
matplotlib
plotly
seaborn

# ML/DL
scikit-learn
xgboost
lightgbm
catboost
optuna
vecstack
# lime

# NLP
nltk # nltk.download()
jpype1==1.3.0
konlpy
gensim
sentencepiece
# transformers
wordcloud
googletrans==4.0.0-rc1
nlpaug

# Vision
opencv-python
Pillow

# Audio
librosa
SpeechRecognition
# PyAudio
# playsound

# Video
ffmpeg
yt-dlp

# Keras
visualkeras
# autokeras
# keras_tuner

# TensorFlow
tensorflow-macos
tensorflow-metal
tensorflow-addons
tensorflow-hub

# Torch
# https://pytorch.org/get-started/locally/
# torch
# torchvision
# torchaudio
# torchtext

# Pycaret
# pycaret==2.3.10
# jinja2==3.1.2

# Web
beautifulsoup4
requests
urllib3
selenium
webdriver-manager
streamlit

# Django
Django==3.2
django-bootstrap4
django-environ
